<div class="container mt-3">
  <h4 class="title-show-news"><%= link_to news.title, news_path(news) %></h4>
  <div class="media border-news p-3">
    <% if news.user.avatar? %>
      <%= image_tag(news.user.avatar.url, class: "image-new-user") %>
    <% else %>
      <%= image_tag("home-video/trailer/1.jpg", class: "image-new-user") %>
    <% end %>
    <div class="media-body">
      <h4><%= link_to news.user_name, news.user %>
        <small><i> <%= t "Posted on" %> <%= I18n.l(news.created_at.to_time, format: :long) %> </i></small>
      </h4>
      <p><%= sanitize news.content %></p>
      <div class="text-right">
        <% if current_user == news.user %>
          <h3>
            <%= link_to '<i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>'.html_safe, edit_news_path(news), method: :get %>
            <%= link_to '<i class="fa fa-trash-o text-danger" aria-hidden="true"></i>'.html_safe, news, method: :delete, data: {confirm: t(".sure")} %>
          </h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
