<div class="container mt-3">
  <h4 class="title-show-news"><%= news.title %></h4>
  <div class="media border-news p-3">
    <%= image_tag("home-video/trailer/1.jpg", class: "image-new-user") %>
    <div class="media-body">
      <h4><%= news.user_name %><small><i> <%= t "Posted on" %> <%= I18n.l(news.created_at.to_time, format: :long) %> </i></small></h4>
      <p><%= news.content %></p>
    </div>
  </div>
</div>